
{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <main class="pages">

        <div class="container align-items-center w-75 p-2">
            <a href="{{ app.request.headers.get('referer') ?: 'http://127.0.0.1:3000/home' }}" class="link-orange h5">
                ← Revenir à la page précédente
            </a>
        </div>

        <div class="container wrapper-beige align-items-center w-75">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <img src="/media/icons//happyfleur1.png" class="decoTitreShake "/>
                <h1 class="h2">Connexion à votre espace Nation-Sounds</h1>
                <img src="/media/icons/happyfleur1.png" class="decoTitreShake"/>
            </div>

            

            {% for message in app.flashes('success')%}
                <div class="alert alert-success">
                    {{message}}
                </div>
            {% endfor %}

            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <form action="{{ path('app_login')}}" method="post" class="d-flex flex-column justify-content-center ">

                <div>
                    <label for="username" class="form-label mt-4">Adresse email</label>
                    <input type="email" class="form-control" id="username" name="_username" placeholder="exemple@nationsounds.fr" value="{{ last_username }}">
                </div>
                <div>
                    <label for="password" class="form-label mt-4">Mot de passe</label>
                    <input type="password" class="form-control" id="password" name="_password" placeholder="*********" autocomplete="off">
                    <a href={{path('app_forgot_password_request')}} class="link-orange">
                        <p>Mot de passe oublié?</p>
                    </a>
                </div>
                <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

                <input type="hidden" name="_target_path" value="{{ path('app_login') }}"/>
                <button type="submit" class="button-type d-flex justify-content-center align item-center h4 mt-4 text-white ">Se connecter</button>
        </form>
        </div>
    </main>

{% endblock %}

