{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <main class="pages">

        <div class="container align-items-center w-75 p-2">
            <a href="{{ app.request.headers.get('referer') ?: 'http://127.0.0.1:3000/home' }}" class="link-orange h5">
                ← Revenir à la page précédente
            </a>
        </div>

        <div class="container wrapper-beige align-items-center w-75">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <img src="/media/icons/images/ns_mascotte.png" class="decoTitreShake"/>
                <h1>Création de votre compte Nation-Sounds</h1>
                <img src="/media/icons/ns_mascotte.png" class="decoTitreShake"/>
            </div>

            {{ form_start(form)}}
                {{form_row(form.firstName)}}
                {{form_row(form.lastName)}}
                {{form_row(form.email)}}
                {{form_row(form.password)}}

                <div class="d-flex flex-column">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        {{form_widget(form.privacy)}}
                        {{form_label(form.privacy)}}
                    </div>
                    <span>
                        <a href="/politique_confidentialite"><p class="link">Politique de confidentialité<p></a>
                    </span>
                </div>

            {{ form_end(form)}}
        </div>
    </main>

{% endblock %}